BIM_CONTROL_API_BASE=http://127.0.0.1:8001
S3_STORAGE_BASE=http://127.0.0.1:8002
S3_STORAGE_STATIC_BASE=http://127.0.0.1:8002/static
CONVERSION_API_BASE=http://127.0.0.1:8003
COORDINATOR_API_BASE=http://127.0.0.1:8004
COORDINATOR_SOCKET_URL=http://127.0.0.1:8004
KIT_STREAM_SERVER=127.0.0.1
KIT_SIGNALING_PORT=49100
KIT_MEDIA_SERVER=127.0.0.1
WEB_VIEWER_URL=http://127.0.0.1:5173
DEV_AUTH_TOKEN=dev-token
